<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="DEBUG"/>
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %t [%c{3}]  %m%n"/>
    </layout>
  </appender>
  
  <appender name="RollingFile" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="target/vannitator-apt-processing.log"/>
    <param name="MaxFileSize" value="500KB"/>
    <!-- Keep one backup file -->
    <param name="MaxBackupIndex" value="0"/>
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %t [%c{3}]  %m%n"/> 
    </layout> 
  </appender> 
  
  <!-- 
  %d [%t] %-5p %c - %m%n
   -->

  <root>
    <priority value="DEBUG"/> 
    <appender-ref ref="CONSOLE"/>
	<appender-ref ref="RollingFile"/>
    <!--  <appender-ref ref="ChainSawSocket"/>  -->
  </root>

</log4j:configuration>
